.header{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 20px 10%; 
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center; z-index:100;
}

.logo {
    font-size:
    32px;
    color: #fff;
    font-weight: 700;
}

.logo:hover{
    color: red;
}

.navbar a {
    position: relative; font-size: 18px;
    color: #fff;
    font-weight:500;
    margin-left: 40px;


}

.navbar a::before {
    content: "";
    top: 100%;
    left: 0;
    position: absolute;
    width: 0; height: 2px; background:red;
    transition: .3s;


} 
.navbar a:hover::before { width:100%
}
